.container {
  max-width: $container-width;
  margin: auto;
  padding: 0 $spacing;
}

/**
 * site-header
 */
.site-header {
  padding: 10px 0;
  border-bottom: 1px solid $grey-color-light;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.site-nav ul {
  margin: 0;
  list-style-type: none;
  display: flex;
}

.site-nav li {
  display: block;
  margin-left: $spacing;
}

.page-content {
  margin-bottom: 30px;
}

/**
 * site-footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 30px 0;
  text-align: center;
}
